<!DOCTYPE html>
<html>
  <head>
    <title>Books Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store" class="<%= controller.controller_name %>" >
    <div id="banner">
      <%= image_tag("logo.svg") %>
      <%= @page_title || "Books Store" %>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
